<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 class="jumbotron" style="background: none;">Error in GameContent Page</h1>
    <div th:text="${error}">Smth went wrong</div>
    <br>
    <br>
    <a href="/GameContent" class="btn btn-success">CLICK HERE TO GET BACK TO THE GAMECONTENT</a>
</div>
</body>
</html>