<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blocketwiki</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script></head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" th:text="#{app.title}"></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/" th:text="#{app.home}"></a></li>
                <li ><a href="/Login" th:text="#{app.login}"></a></li>
                <li><a href="/Login/register" th:text="#{app.register}"></a></li>
                <li><a href="#" th:text="#{app.about}"></a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="jumbotron" style="background: none" th:text="#{app.welcomeMsg}"></h1>
        <p>By Philipp Cserich <br>, Bernhard Siegl <br>and Timon Reiter</p>
        <a href="Login"><button class="btn btn-success" th:text="#{app.login}"></button></a>
    </div>
</body>
</html>